<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Serverless, secure & persistent multichat</title>

        <!-- To efficiently implement sockets -->
	<!--<script src="https://unpkg.com/peerjs@1.3.2/dist/peerjs.min.js"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/1.4.7/peerjs.min.js"></script>
        <!-- To easily manage dynamic rendering -->
	<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.14/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/7.0.5/marked.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.5/purify.min.js"></script>

        <!-- Integrate font styles -->
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">

        <!-- Material Design stylesheets -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script async src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <style>
            body {
                font-family: "Red Hat Display";
                background-color: #ecf0f1;
            }

            div {
                text-align: center;
            }

            p {
                margin: 0.18em;
            }

            span.message {
                max-width: 90%;
                border-radius: 5px;
                padding: 6px;
                margin: 2px;
                word-wrap: break-word;
                display: inline-block;
            }

            span.message > i {
                color: #2196f3;
            }

            span.message img {
                max-width: 45vw;
            }

            span.me {
                background-color: #95ec6a;
                text-align: left;
            }
            span.others {
                background-color: white;
            }

	    p.me {
                width: 100% !important;
                text-align: right;
	    }

            #chatbox {
                height: 70vh;
                text-align: left;
                width: 95%;
                margin: 0 auto;
                overflow-y: scroll;
            }

            #chatbox.dragover {
                background: #ebdcdca3;
                border: 1px dashed;
            }
            .row {
                width: 100%;
                margin: 0;
                padding: 0 2em;
            }
            .file-field .file-path-wrapper{
                width: 0%
            }
        </style>
    </head>

    <body>
        <div id="app">
            <div id="login" v-if="screen === 'login'">
                <div class="container">
                    <h1>Enter your username</h1>
        
                    <div class="row">
                        <form v-on:submit="submitLogin">
                            <div class="input-field col s8">
                                <input :disabled="loading" id="username" type="text" v-model="usernameInput" />
                                <label for="username">My username</label>
                            </div>
                            <div class="input-field col s8">
                                <input :disabled="loading" id="signal_server" type="text" v-model="signal_server" />
                                <label for="signal_server">Signal Server</label>
                            </div>
                            <div class="input-field col s8">
                                <input :disabled="loading" id="stun_server" type="text" v-model="stun_server" />
                                <label for="stun_server">STUN Server</label>
                            </div>
                            <div class="input-field col s8">
                                <input :disabled="loading" id="turn_server" type="text" v-model="turn_server" />
                                <label for="turn_server">TURN Server</label>
                            </div>
                            <button v-bind:class="{ disabled: loading }" class="btn-large waves-effect waves-light red col s4" type="submit">
                                Login<i class="material-icons right">login</i>
                            </button>
                        </form>
                    </div>

                    <p v-if="loading">Loading...</p>
                    <p v-if="peerError" style="color: red">{{ peerError }}</p>
                    <p>Crafted with &#10084; <em>by <a href="https://r.milon.pro" target="_blank" rel="noopener noreferrer">Rubilmax</a></em></p>
                </div>
            </div>
            <div id="chat" v-if="screen === 'chat'">
                <div class="container">
                    <p>Crafted with &#10084; <em>by <a href="https://r.milon.pro" target="_blank" rel="noopener noreferrer">Rubilmax</a></em></p>
                    <p>Your username: {{ usernameInput }}</p>
                </div>

                <div class="row">
                    <div id="users" class="col s12 m5">
                        <div class="row">
                            <!-- We don't show connection form if the client is disconnected -->
                            <div v-if="!peer.disconnected">
                                <form v-on:submit="submitConnection">
                                    <div class="input-field col s8">
                                        <input :disabled="loading" id="target_id" type="text" v-model="targetIdInput" />
                                        <label for="target_id">Target username</label>
                                    </div>
                                    <button v-bind:class="{ disabled: loading }" class="btn-large waves-effect waves-light col s4" type="submit">
                                        Connect<i class="material-icons right">login</i>
                                    </button>
                                </form>
    
                                <button class="btn-large waves-effect waves-light red col s12" v-on:click="disconnectPeer">
                                    Disconnect from server<i class="material-icons right">logout</i>
                                </button>
    
                                <div class="col s12">
                                    <em v-if="peerError" style="color: red">{{ peerError }}</em>
                                </div>
                            </div>
                            <div v-else class="container">
                                <h5>You are disconnected!</h5>
                                <em>You can still talk to connected users, but won't be able to reach or be reached by any new user!</em>
                            </div>

                            <div class="col s12">
                                <h4>Connected users</h4>
                                <p><i class="material-icons">portrait</i>{{ usernameInput }}</p>
                                <p v-for="peerId in peerIds">
                                    <i class="material-icons">portrait</i>{{ getUsername(peerId) }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m7">
                        <div class="control-buttons">
                            <button class="btn-floating btn-xs waves-effect waves-light right" v-on:click="cleanHistory">
                                <i class="material-icons">delete-sweep</i>
                            </button>
                            <div class = "file-field input-field">
                                <div id="upload-btn" class = "btn-floating btn-xs waves-effect waves-light blue left">
                                    <input type="file" multiple v-on:change="submitFile">
                                    <i class="material-icons">upload</i>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                        </div>
                        <div id="chatbox" @drop="submitFile" @dragover.prevent="addDragover" @dragleave.prevent="removeDragover">
                            <p v-for="chat in chats" :class="chat.who" >
                                {{ chat.sender == usernameInput ? "" : chat.sender + ": " }}
                                <span :class="'message ' + chat.who" v-if="chat.type === 'text'" v-html="chat.html">{{ chat.message }}</span>
                                <span :class="'message ' + chat.who" v-else-if="chat.type === 'file'" ><i class='material-icons waves-effect'>download_for_offline</i><a :href="chat.href" :download="chat.file.name">{{ chat.file.name }}</a></span>
                            </p>
                        </div>
                        <div class="row">
                            <form v-on:submit="submitChat">
                                <div class="input-field col s11">
                                    <textarea id="chat_message" class="materialize-textarea" v-model="chatMessageInput" @keydown.enter.exact.prevent="submitChat" ></textarea>
                                    <label for="chat_message">Your message</label>
                                </div>
                                <button class="btn-floating btn-large waves-effect waves-light red" type="submit">
                                    <i class="material-icons">send</i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script>
        const appPrefix = "secure-p2p-multichat-"; // the prefix we will preprend to usernames

        const oldChats = localStorage.getItem("chats");
        const chats = oldChats ? JSON.parse(oldChats) : []; // oldChats may be undefined, which throws error if passed into JSON.parse

        const app = new Vue({
            el: "#app",
            data: {
                screen: "login", // initialize at login screen
                usernameInput: localStorage.getItem("username"), // to load saved username
                signal_server: localStorage.getItem("signal_server"),
                stun_server: localStorage.getItem("stun_server"),
                turn_server: localStorage.getItem("turn_server"),
                peerError: "",
                loading: false,
                peer: {}, // initialize as empty object instead of undefined
                targetIdInput: "",
                peerIds: [], // connected to nobody at first
                connections: {}, // maps peerIds to their correspondig PeerJS's DataConnection objects
                chats,
                chatMessageInput: ""
            },
            // in case you want to enable automatic login
            /*mounted: function () {
                if (this.usernameInput && this.usernameInput.length > 0) {
                    this.submitLogin();
                }
            },*/
            watch: {
                chats: function () {
                    const chatbox = document.getElementById("chatbox");
                    if (chatbox) {
                        window.setTimeout(function(){
                            chatbox.scrollTop = chatbox.scrollHeight;

                            const new_imgs = chatbox.lastChild.querySelectorAll('img');
                            new_imgs.forEach(x => x.classList.add('materialboxed'));
                            M.Materialbox.init(new_imgs);
                        }, 100)
                    } // to automatically scroll the chatbox to the most recent chat message
                }
            },
            methods: {
                // util functions to convert username to peer ids and vice-versa
                getPeerId: username => appPrefix + username,
                getUsername: peerId => peerId ? peerId.slice(appPrefix.length) : "",

                // we keep track of connections ourselves as suggested in peerjs's documentation
                addConnection: function (conn) {
                    this.connections[conn.peer] = conn;
                    this.updatePeerIds();

                    console.log(`Connected to ${conn.peer}!`);
                },
                removeConnection: function (conn) {
                    M.toast({html: 'Disconnected with ' + conn.peer.replace(appPrefix, ''), classes: "deep-orange rounded"});
                    delete this.connections[conn.peer];
                    this.updatePeerIds();
                },
                updatePeerIds: function () {
                    this.peerIds = Object.keys(this.connections);
                },
                disconnectPeer: function () {
                    this.peer.disconnect();
                },
                cleanHistory: function () {
                    localStorage.setItem("chats", "");
                    while(chatbox.firstChild) {
                        chatbox.removeChild(chatbox.lastChild);
                    }
                },

                // called to properly configure connection's client listeners
                configureConnection: function (conn) {
                    conn.on("data", data => {
                        // if data is about connections (the list of peers sent when connected)
                        if (data.type === "connections") {
                            data.peerIds.forEach(peerId => {
                                if (!this.connections[peerId]) {
                                    this.initiateConnection(peerId);
                                }
                            });
                        } else if (data.type === "chat") {
                            this.receiveChat(data.chat);
                        } else if (data.type === "file") {
                            this.receiveFile(data.file);
                        }
                        // please note here that if data.type is undefined, this endpoint won't do anything!
                    });
                    conn.on("close", () => this.removeConnection(conn));
                    conn.on("error", () => this.removeConnection(conn));

                    // if the caller joins have a call, we merge calls
                    conn.metadata.peerIds.forEach(peerId => {
                        if (!this.connections[peerId]) {
                            this.initiateConnection(peerId);
                        }
                    });
                },
                // called to initiate a connection (by the caller)
                initiateConnection: function (peerId) {
                    if (!this.peerIds.includes(peerId) && peerId !== this.peer.id) {
                        this.loading = true;
                        this.peerError = "";

                        console.log(`Connecting to ${peerId}...`);

                        const options = {
                            metadata: {
                                // if the caller has peers, we send them to merge calls
                                peerIds: this.peerIds
                            },
                            serialization: "binary",
                            reliable: true
                        };
                        const conn = this.peer.connect(peerId, options);
                        this.configureConnection(conn);

                        conn.on("open", () => {
                            this.addConnection(conn);
                            if (this.getUsername(conn.peer) === this.targetIdInput) {
                                this.targetIdInput = "";
                                this.loading = false;
                            }
                        });
                    }
                },
                createPeer: function () {
                    // options are useful in development to connect to local peerjs server
                    if(this.signal_server){
                        const signal_server = new URL(this.signal_server);
                        const secure = signal_server.protocol == "https:";
                        var options = {
                            host: signal_server.hostname,
                            port: signal_server.port,
                            path: signal_server.pathname,
                            secure: secure
                        };
                        if(this.stun_server){
                            options.config = {iceServers: [
                                {urls: "stun:" + this.stun_server}
                            ]}
                        }
                        if(this.turn_server){
                            const turn_server = this.turn_server.split('@')[1];
                            const username = this.turn_server.split('@')[0].split(':')[0];
                            const credential = this.turn_server.split('@')[0].split(':')[1];
                            options.config.iceServers.push({
                                urls: "turn:" + turn_server,
                                username: username,
                                credential: credential
                            })
                        }
                        this.peer = new Peer(this.getPeerId(this.usernameInput), options)
		    }else{
                        this.peer = new Peer(this.getPeerId(this.usernameInput));
                    }

                    // when peer is connected to signaling server
                    this.peer.on("open", () => {
                        this.screen = "chat"; // changing screen
                        this.loading = false;
                        this.peerError = "";
                    });
                    // error listener
                    this.peer.on("error", error => {
                        if (error.type === "peer-unavailable") { // if connection with new peer can't be established
                            this.loading = false;
                            this.peerError = `${this.targetIdInput} is unreachable!`; // custom error message
                            this.targetIdInput = "";
                        } else if (error.type === "unavailable-id") { // if requested id (thus username) is already taken
                            this.loading = false;
                            this.peerError = `${this.usernameInput} is already taken!`; // custom error message
                        } else this.peerError = error; // default error message
                    });

                    // when peer receives a connection
                    this.peer.on('connection', conn => {
                        if (!this.peerIds.includes(conn.peer)) {
                            this.configureConnection(conn);

                            conn.on("open", () => {
                                this.addConnection(conn);

                                // send every connection previously established to connect everyone (merge chat rooms)
                                conn.send({
                                    type: "connections",
                                    peerIds: this.peerIds
                                });
                            });
                        }
                    });
                },

                submitLogin: function (event) {
                    if (event) event.preventDefault(); // to prevent default behavior which is to POST to the same page

                    if (this.usernameInput.length > 0 && !this.loading) {
                        this.loading = true; // update status
                        this.peerError = ""; // reset error status

                        localStorage.setItem("username", this.usernameInput); // set username cookie to instanciate it at the next session
                        localStorage.setItem("signal_server", this.signal_server); // set signal server cookie to instanciate it at the next session
                        localStorage.setItem("stun_server", this.stun_server); // set stun server cookie to instanciate it at the next session
                        localStorage.setItem("turn_server", this.turn_server); // set turn server cookie to instanciate it at the next session

                        this.createPeer();
                    }
                },
                submitConnection: function (event) {
                    event.preventDefault(); // to prevent default behavior which is to POST to the same page

                    const peerId = this.getPeerId(this.targetIdInput); // the peer's id we want to connect to
                    this.initiateConnection(peerId);
                },
                receiveChat: function (chat) {
                    chat.who = chat.sender != this.usernameInput?"others":"me";
                    //chat.html = DOMPurify.sanitize(marked.parse(chat.message), {SAFE_FOR_TEMPLATES: true, ALLOWED_TAGS: ['iframe', 'h1', 'h2', 'img', 'p']});
                    chat.html = marked.parse(chat.message);
                    this.chats.push(chat);
                    localStorage.setItem("chats", JSON.stringify(this.chats));
                },
                receiveFile: function (chat) {
                    chat.who = chat.sender != this.usernameInput?"others":"me";
                    chat.blob = new Blob([chat.file.content]);
                    chat.href = URL.createObjectURL(chat.blob);
                    this.chats.push(chat);
                    localStorage.setItem("chats", JSON.stringify(this.chats));
                },
                submitChat: async function (event) {
                    event.preventDefault(); // to prevent default behavior which is to POST to the same page

                    if (this.chatMessageInput.length > 0) {
                        // the chat object's data
                        const chat = {
                            sender: this.usernameInput,
                            message: this.chatMessageInput,
                            type: "text",
                            timestamp: new Date().getTime()
                        };

                        this.image2base64(chat).then(chat => {
                            this.receiveChat(chat); // simulate receiving a chat
                            // send chat object to connected users
                            this.send({type: "chat", chat});
                            this.chatMessageInput = ""; // reset chat message input
                            document.querySelector('#chat_message + label').classList.remove('red-text')
                        });

                    }
                },
                submitFile: function (event) {
                    event.preventDefault(); // to prevent default behavior which is to POST to the same page

                    if(event instanceof DragEvent){
                        this.removeDragover(event);
                        var file_list = event.dataTransfer.files;
                    }else{
                        var file_list = event.target.files;
                    }

                    Array.from(file_list).forEach(file => {
                        this.readFile(file).then(result => {
                            const file = {
                                sender: this.usernameInput,
                                file: result,
                                type: "file",
                                timestamp: new Date().getTime()
                            };

                            this.receiveFile(file); // simulate receiving a file
                            this.send({type: "file", file})
                        });
                    });
                },
                readFile: function(file, as='readAsArrayBuffer'){ // readAsDataURL is base64 encoded
                    return new Promise(resolve => {
                        const reader = new FileReader();
                        reader.onloadend = function(event){
                            resolve({name: file.name, size: file.size, type: file.type, content: event.target.result});
                        }
                        reader.onprogress = function(event){
                            if(event.loaded && event.total){
                                const percent = (1 - (event.loaded / event.total)) * 100;
                                document.querySelector('#upload-btn').style.background = 'linear-gradient(#bac1c7 ' + percent + '%, #2196f3 0%)'
                            }
                        }
                        reader[as](file);
                        //reader.readAsDataURL(file);
                    });
                },
                image2base64: async function(chat){
                    const MARKDOWN_IMG = /!\[.*?\]\((.*?)\)/mg;
                    const HTML_IMG = /<img .*src=['"](.*?)['"].*>/mg;
                    var urls = [MARKDOWN_IMG, HTML_IMG].map(function (regex) {
                        const matches = [...chat.message.matchAll(regex)];
                        return(matches.map(x => x[1]))
                    }).flat()
                    urls = [... new Set(urls)]
                    for (i in urls){
                        base64 = await this.url2base64(urls[i]);
                        chat.message = chat.message.replace(urls[i], base64);
                        percent = Math.round(i / urls.length * 100);
                        document.querySelector('#chat_message + label').style.background = 'linear-gradient(90deg, #9eded8 ' + percent + '%, #ecf0f1 0%)';
                    }

                    document.querySelector('#chat_message + label').style.background = '';
                    return(chat)
                },
                url2base64: async function(url){
                    let response;
                    console.log('converting ' + url + ' to base64.');
                    try{
                        response = await fetch(url);
                    } catch (error){
                        document.querySelector('#chat_message + label').classList.add('red-text')
                        M.toast({html: error.message + ' ' + url, classes: "deep-orange rounded"});
                        throw error;
                        //return(url);
                    }
                    const blob = await response.blob();
                    const file = await this.readFile(blob, 'readAsDataURL')
                    return(file.content)
                },
                send: function(data){
                    Object.values(this.connections).forEach(conn => {
                        conn.send(data);
                    });
                },
                addDragover: function(event){
                    event.target.classList.add('dragover');
                },
                removeDragover: function(event){
                    event.target.classList.remove('dragover');
                }
            }
        });
    </script>
</html>
